head
    link(rel="shortcut icon", type="image/x-icon", href="/img/gasta-favicon.ico")
body
    h1 Socket test
    script(src='./socket.io/socket.io.js')
    script.
        var socket = io("/index");

        socket.on('connect', function () {
            console.log('Connected');
            socket.emit('get-from-dates', {
                startDate: `${today.getFullYear()}-${checkZero(today.getMonth() + 1)}-${checkZero(today.getDate())}T00:00:00.000Z`,
                endDate: `${today.getFullYear()}-${checkZero(today.getMonth() + 1)}-${checkZero(today.getDate())}T23:59:59.999Z`
            });
        });

        socket.on('disconnect', function () {
            socket.sendBuffer = [];
            console.log('Offline mode activated');
        });

        socket.on('user-connected', (response) => {
            console.log(response);
        });

        socket.on('ggggg', (response) => {
            console.log(response);
        });

        var today = new Date();

        function checkZero(i) {
            if (i < 10) {i = "0" + i};
            return i;
        }